In [1]:
import pandas as pd

w = pd.read_csv("data/WEATHER_TEST.csv", parse_dates=["DATE"], index_col="DATE")
w.head()

,Temperature,Dew Point,Humidity,Wind Speed,Wind Gust,Pressure,Precip.
DATE,,,,,,,
2018-01-01 00:00:00,3.9,2.2,87,11.3,0.0,74.4,0.0
2018-01-01 01:00:00,7.8,7.2,93,12.9,0.0,74.3,0.0
2018-01-01 02:00:00,7.8,7.2,93,14.5,0.0,74.3,0.0
2018-01-01 03:00:00,8.9,7.2,87,12.9,0.0,74.3,0.0
2018-01-01 04:00:00,8.9,6.1,82,16.1,0.0,74.3,0.0

In [1]:
import pandas as pd

fuel = pd.read_csv("data/fuel_prices.csv", parse_dates=["TIME"], index_col='TIME')
price = pd.read_csv("data/ENERGY_SETTLEMENT_PRICE.csv", parse_dates=["TIME"], index_col='TIME')
demand = pd.read_csv("data/energy_demand.csv", parse_dates=["TIME"], index_col='TIME')
weather = pd.read_csv("data/WEATHER_TEST.csv", parse_dates=["TIME"], index_col='TIME')

In [8]:
p = price.resample("D").mean()["VALUE"]
p.name = "Cena Energii"
d = demand.resample("D").mean()["VALUE"]
d.name = "Zapotrzebowanie na energię"
f = fuel.resample("D").mean()["FUEL_PRICE"]
f.name = "Cena paliwa"
t = weather.resample("D").mean()["Temperature"]
t.name = "Temperatura"
ws = weather.resample("D").mean()["Wind_Speed"]
ws.name = "Szybkość wiatru"

it = [p, d, f, t, ws]

In [17]:
from functools import reduce

idx = reduce(lambda x, y: x.intersection(y), map(lambda x: x.index, it))
idx

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05',
               '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09',
               '2023-03-10', '2023-03-11'],
              dtype='datetime64[ns]', name='TIME', length=1896, freq='D')

In [27]:
series = map(lambda x: x.loc[idx].sort_index(), it)
pd.concat(series, axis=1).corr()

,Cena Energii,Zapotrzebowanie na energię,Cena paliwa,Temperatura,Szybkość wiatru
Cena Energii,1.000000,0.238479,0.802707,0.011331,-0.051901
Zapotrzebowanie na energię,0.238479,1.000000,0.042969,-0.448526,0.090044
Cena paliwa,0.802707,0.042969,1.000000,0.113530,0.021246
Temperatura,0.011331,-0.448526,0.113530,1.000000,-0.183343
Szybkość wiatru,-0.051901,0.090044,0.021246,-0.183343,1.000000