In [1]:
import os
import pandas as pd
from app.data_managers.readers import FuelPricesReader, WeatherReader, PSEReader , CO2Reader
from app.data_managers.uploaders import CSVUploader
from app.data_managers.readers.scraping import BaseScraper
from pathlib import Path
from typing import Union
from app.data_managers.namespaces import files_ns

In [2]:
data_folder = files_ns.DATA_FOLDER

PATH = Union[Path, str]

def get_folder_files(path: PATH) -> list[Path]:
    dir_ = Path(path)
    if not dir_.exists():
        raise ValueError(f"directory {dir_} doesn't exist")
    
    files = os.listdir(dir_)
    files = list(map(lambda x: dir_ / x, files))
    return files

In [3]:
dir_ = os.path.join(data_folder, "DEMAND")
files = get_folder_files(dir_)

source = 'ENERGY_DEMAND'
reader = PSEReader(source)
data = reader.read(files)
data.head()

                         VALUE  FORECAST
TIME
2018-01-01 01:00:00  14978.538     15200
2018-01-01 02:00:00  14397.650     14600
2018-01-01 03:00:00  13789.463     14000
2018-01-01 04:00:00  13434.450     13600
2018-01-01 05:00:00  13285.238     13400

In [5]:
file = os.path.join(data_folder, "CURATED", "ENERGY_DEMAND.csv")

uploader = CSVUploader(file=file)
# uploader.upload(data)

In [5]:
dir_ = os.path.join(data_folder, "PRICE")
files = get_folder_files(dir_)

source = 'ENERGY_SETTLEMENT_PRICE'
reader = PSEReader(source)
data = reader.read(files)
data.head()

                     VALUE
TIME
2018-01-01 01:00:00  72.05
2018-01-01 02:00:00  72.05
2018-01-01 03:00:00  72.05
2018-01-01 04:00:00  72.05
2018-01-01 05:00:00  71.15

In [6]:
file = os.path.join(data_folder, "CURATED", "ENERGY_SETTLEMENT_PRICE.csv")

uploader = CSVUploader(file=file)
# uploader.upload(data)

In [7]:
source = 'FUEL_PRICES'
scraper = BaseScraper(verbose=False)

reader = FuelPricesReader(source, scraper=scraper)
data = reader.read()
data.head()

             VALUE
TIME
2004-01-01  2530.0
2004-01-08  2580.0
2004-01-13  2615.0
2004-01-16  2615.0
2004-01-21  2650.0

In [8]:
file = os.path.join(data_folder, "CURATED", "FUEL_PRICES.csv")

uploader = CSVUploader(file=file)
# uploader.upload(data)

In [9]:
dir_ = os.path.join(data_folder, "CO2")
files = get_folder_files(dir_)

source = 'CO2_SETTLEMENT_PRICES'

reader = CO2Reader(source)
data = reader.read(files)
data.head()

c:\Users\wojtek\anaconda3\envs\energy\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

            VALUE
TIME
2018-01-01  34.05
2018-01-02  32.50
2018-01-03  32.58
2018-01-04  32.21
2018-01-05  32.28

In [10]:
file = os.path.join(data_folder, "CURATED", "CO2_SETTLEMENT_PRICES.csv")

uploader = CSVUploader(file=file)
# uploader.upload(data)

In [12]:
dir_ = os.path.join(data_folder, "WEATHER")
files = get_folder_files(dir_)

source = 'WEATHER'

reader = WeatherReader(source)
data = reader.read(files)
data.head()

                     Temperature  Wind_Speed
TIME
2018-01-01 00:00:00          4.0        11.0
2018-01-01 01:00:00          8.0        13.0
2018-01-01 02:00:00          8.0        14.0
2018-01-01 03:00:00          9.0        13.0
2018-01-01 04:00:00          9.0        16.0

In [13]:
file = os.path.join(data_folder, "CURATED", "WEATHER.csv")

uploader = CSVUploader(file=file)
uploader.upload(data)